// Retain intermediate work files
cleanup = false

params {
    reads      = "${projectDir}/data/reads.fastq"
    ref_genome = "${projectDir}/data/ref_genome.fa"
    ref_genome_fai = "${projectDir}/data/ref_genome.fa.fai"
    outdir     = "${projectDir}/results"
}

apptainer {
    enabled    = true
    autoMounts = true
}

process {
    errorStrategy = 'retry'
    maxRetries    = 1

    withName: 'ALIGN_AND_SORT' {
        container = "${projectDir}/containers/minimap2.sif"
        cpus      = 8
        memory    = '24 GB' 
    }

    // New configuration specifically for indexing the BAM file
    withName: 'INDEX_BAM' {
        container = "${projectDir}/containers/minimap2.sif" // samtools is already in this container
        cpus      = 4
        memory    = '8 GB' // Indexing requires much less memory
    }

    withName: 'CALL_VARIANTS' {
        container = "${projectDir}/containers/clair3.sif"
        cpus      = 8
        memory    = '24 GB' 
    }
}
